@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code { 

    [CascadingParameter]
    private IBreadcrumbService BreadcrumbService { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    protected override Task OnParametersSetAsync()
    {
        BreadcrumbService.Set<IndexBreadcrumb>(0);
        return base.OnParametersSetAsync();
    }
}