@if (Breadcrumbs.Any())
{
<ul class="jnprr-breadcrumb-navigation">
        @foreach (var breadcrumb in Breadcrumbs)
        {
            <li>
                @breadcrumb
            </li>
        }
</ul>
}
