@if (_breadcrumbs.Any())
{
<ul class="@CssClass" @attributes="AdditionalAttributes">
        @foreach (var breadcrumb in _breadcrumbs)
        {
            <li>
                @breadcrumb
            </li>
        }
</ul>
}
