ul {
    padding: .75rem 1rem;
    list-style: none;
    margin: 0;
}

    ul ::deep li {
        display: inline;
    }

    ul ::deep li + li:before {
        padding-right: .5rem;
        padding-left: .5rem;
        color: #6c757d;
        content: "/\00a0";
    }

    ul ::deep li a {
    }

        ul ::deep li a.active {
            color: #6c757d;
            text-decoration: underline;
        }

            ul ::deep li a.active:hover {
            }

    ul ::deep li span button {
        top: 0px;
        padding: 0 .5rem;
        font-size: .875rem;
        border: none;
        background: transparent;
    }

    ul ::deep li span span {
        top: 0px;
        padding: 0 .5rem;
        font-size: .875rem;
        border: none;
        background: transparent;
    }
